html {
  background-color: black !important;
}
#panel {
  padding:30px;
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: black !important;
}
body{
  background-color:black;
}

#points{
  display:flex;
  justify-content: center;
  color:red;
  background-color:black;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 40vw;
  /*background-color: blue;*/
}



.option.player, .card.computer {
    display:flex;
    justify-content:center;
    align-items:center;
  background-color: white;
  margin: 5px;
  height: 25%;

  width: 40%;

  
  /*text-align: center;*/
  /*line-height: 100%;*/
}

/*#computer-choice{
    height:30vw;
}*/

.option-symbol{
    height:70%;
    width:auto !important;
    max-width: 90%;
}

.title{
  display:flex;
  justify-content:center;
  align-items:center;
}

h1{
  color:white;
  align-self: center;
}

.unclickable { 
  pointer-events: none; 
}