html {
  background-color: black !important;
}
body {
  display: flex;
  align-items: center;
}

#options, #computer {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 40vw;
  background-color: blue;
}



.option, #computer-choice {
    display:flex;
    justify-content:center;
    align-items:center;
  background-color: white;
  margin: 20px;
  height: 25%;
  text-align: center;
  line-height: 100%;
}

#computer-choice{
    height:30vw;
}

.option-symbol{
    height:70%;
}