html {
  background-color: black !important;
}
body {
  display: flex;
  align-items: center;
  justify-content:center;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 40vw;
  background-color: blue;
}



.option.player, #computer-choice {
    display:flex;
    justify-content:center;
    align-items:center;
  background-color: white;
  margin: 5px;
  height: 25%;

  width: 40%;

  
  /*text-align: center;*/
  /*line-height: 100%;*/
}

/*#computer-choice{
    height:30vw;
}*/

.option-symbol{
    height:70%;
}

h1{
  color:white;
}